/* .main-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    flex-basis: 20vw;
    background-color: rgb(189, 189, 189);
    padding: 14px 12px;
}

.sidebar .head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.sidebar .head img {
    width: 56px;
}

.sidebar .head a {
    color: #000;
    text-decoration: none;
}

.sidebar .parts {
    margin-top: 30px;
}

.sidebar .parts .part {
    margin-top: 4px;
}

.sidebar .parts .part a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border-radius: 6px;
    color: #000;
    transition: .2s;
}
.sidebar .parts .part a:hover {
    color: #fff;
    background-color: #000;
}

.sidebar .parts .part h3 {
    margin-left: 10px;
    margin-top: 7px;
    cursor: pointer;
    font-weight: 600;
}

.sidebar .parts .part h3 i {
    margin-right: 5px;
    font-size: 16px;
    transition: .25s;
}
.sidebar .parts .part h3 i.active {
    transform: rotate(90deg);
}

.sidebar .parts .part .links {
    margin: 6px 0 0 10px;
    display: none;
}




.section {
    height: 100%;
    flex-basis: 80vw;
    padding: 0 12px;
}

.section .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    position: relative;
}
.section .head::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;

}

.section .head .left h1 {
    letter-spacing: 1px;
    font-size: 42px;
    font-family: 'Abril Fatface', cursive;
}

.section .head .middle .name {
    font-size: 19px;
} */





/* ----------------------- Sidebar START ------------------------ */

.container-fluid {
    min-height: 100vh !important;
    /* overflow-x: hidden; */
}

/* .container-fluid .sidebar {
    
} */

.container-fluid .content {
    transition: .5s;
    min-height: 100vh;
}

.sidebar * {
    color: #cccccc;
}

.sidebar {
    transition: .3s;
    /* overflow-x: hidden; */
    /* background-color: #47454b; */
    background: rgb(217,24,31);
    background: linear-gradient(45deg, rgba(217,24,31,1) 0%, rgba(106,106,109,1) 100%);
    width: 250px;
    position: fixed;
    z-index: 3;
    height: 100vh;
    overflow-y: auto;

}
.sidebar::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: transparent;
}
.sidebar::-webkit-scrollbar{
    width: 5px;
    background: transparent;
}
.sidebar::-webkit-scrollbar-thumb{
    background-color: #ff4e4e;
    border: 0px solid #555555;
    border-radius: 8px;
}

.placeholder {
    background-color: #fff;
}

.sidebar + .placeholder {
    width: 250px;
    z-index: -1;
}

.sidebar.close {
    width: 57px;
    overflow-y: hidden;
}
.sidebar.close {
    width: 57px;
}
.sidebar.close .right{
    display: none !important;
}
.sidebar.close  + .placeholder {
    width: 57px;
}

.sidebar.close:hover {
    width: 250px;
    overflow-y: auto;
}
.sidebar.close:hover .right {
    display: flex !important;
}
.sidebar.close:hover + .placeholder {
    width: 250px;
}

.sidebar .logo-row .right * {
    /* width: 160px; */
    color: #000;
    font-weight: 800;
}


.link-section .head,
.link-section .links a {
    transition: .3s;
    border-radius: 5px;
}

.link-section .head:hover,
.link-section .links a:hover {
    color: #e4e4e4;
    background-color: #f43e3e;
}

.link-section .head .chevron {
    transition: .5s;
}

.link-section .links {
    display: none;
}

.content {
    width: calc(100vw - 17px - 253px);
}

/* .sidebar.close + .content {
    width: calc(100vw - 17px - 57px);
} */

/* ----------------------- Sidebar END ------------------------ */


/* ----------------------- Header START ------------------------ */

.user-pic {
    width: 38px;
    height: 38px;
    box-shadow: 0px 2px 10px -2px #777777;
}

.user-dialog-box .user-details {
    background-color: #007bff;
    color: #fff;
}

.user-dialog-box {
    display: none;
    width: 300px;
    position: absolute;
    top: 110%;
    right: 0;
    z-index: 2;
}

/* ----------------------- Header END ------------------------ */



@media screen and (max-width: 1200px) {
    .bg {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #00000071;
        z-index: 1;
    }
    .sidebar {
        position: absolute;
        z-index: 2;
        height: 100vh;
        /* display: none; */
        width: 250px;
        transform: translateX(0);
    }
    .sidebar .right {
        display: flex !important;
    }
    .placeholder {
        display: none;
    }
    
    /* .content {
        width: 100vw;
    } */
    
    .sidebar.close {
        transform: translateX(-101%);
        /* display: block; */
        /* width: 250px; */
    }
    .sidebar.close .right {
        display: none !important;
    }
    
}